@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
	/*Colores*/
	--color-white: #ffffff;
	--color-black: #11151c;
	--color-light: #00b2ca;
	--color-dark: #1d4389;
	--color-orange: #f79256;

	/*Tamaños de letra*/
	--text-xs: 18px;
	--text-s: 20px;
	--text-m: 26px;
	--text-l: 30px;
	--text-xl: 40px;

	/*Redondeo de bordes*/
	--rounded-sm: 4px;
	--rounded-lg: 8px;

	/*Espaciado de margin y padding*/
	--spacing-s: 8pt;
	--spacing-l: 16pt;
}

* {
	font-family: "Montserrat";
	scrollbar-color: var(--color-light) var(--color-white);
}

*::selection {
	background-color: var(--color-dark);
	color: var(--color-white);
}

.icon-white {
	filter: brightness(0) invert(1);
}

#content {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100vw;
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	padding-top: var(--safe-area-inset-top);
	padding-bottom: var(--safe-area-inset-bottom);
}

body {
  padding-top: var(--safe-area-inset-top);
  padding-bottom: var(--safe-area-inset-bottom);
}

a {
	text-decoration: underline;
	color: var(--color-dark)
}

.commaList>*:not(:last-child)::after {
	content: ", ";
}

.rangeSlider {  
	--slider-light-bg: var(--color-dark);
	--slider-light-fg: var(--color-light);
	--slider-light-base: var(--color-light);
	--slider-light-base-100: var(--color-dark);
	--slider-light-accent: var(--color-light);
	--slider-light-accent-100: var(--color-light);
	--slider-light-accent-text: var(--color-white);
}

.datepicker {
	flex-grow: 1;
}